/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #0B3C49;
    margin: 0;
    padding: 20px;
}

h1 {
    margin: 20px 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #000;
    margin-bottom: 10px;
}

#score {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
